<div style="text-align: center;">
  <app-numpad-button [btnLabel]="7"></app-numpad-button>
  <app-numpad-button [btnLabel]="8"></app-numpad-button>
  <app-numpad-button [btnLabel]="9"></app-numpad-button>
  <br>
  <app-numpad-button [btnLabel]="4"></app-numpad-button>
  <app-numpad-button [btnLabel]="5"></app-numpad-button>
  <app-numpad-button [btnLabel]="6"></app-numpad-button>
  <br>
  <app-numpad-button [btnLabel]="1"></app-numpad-button>
  <app-numpad-button [btnLabel]="2"></app-numpad-button>
  <app-numpad-button [btnLabel]="3"></app-numpad-button>
  <br>
  <app-numpad-button [btnLabel]="'&#60;'" [btnId]="'back'"></app-numpad-button>
  <app-numpad-button [btnLabel]="0"></app-numpad-button>
  <app-numpad-button [btnLabel]="'C'" [btnId]="'clear'"></app-numpad-button>
</div>